In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import pytrade
import matplotlib.pyplot as plt
import datetime

pd.options.display.float_format = '{:,.3f}'.format

In [2]:
%%time
raw = pytrade.get_data(reload = True)
ratios = pytrade.calculate_ratio(raw["Adj Close"])
output = pytrade.analysis_1.run(ratios)
output.sort_values(by="short_term_metric",ascending=False,inplace=True)
my_shortterm = output.loc[["SGEN","BMRN","MSCI","MSFT"]]
my_longterm = output.loc[["AMGN","AAPL","UNH","BMY","NLOK","OKE","INTC","KLAC","REGN"]]
shortterm_portfolio = pytrade.Portfolio.load("st_portfolio", raw)
longterm_portfolio = pytrade.Portfolio.load("lt_portfolio", raw)
output

[*********************100%***********************]  537 of 537 completed
Wall time: 9min 44s

,latest,three_wk_high,three_wk_low,three_m_high,three_m_low,one_yr_high,one_yr_low,three_wk_range,three_m_range,one_yr_range,short_term_stochastic,long_term_stochastic,st_potential,lt_potential,short_term_metric,long_term_metric
TSLA,"1,452.710","1,693.242","1,452.710","1,693.242",891.332,"1,693.242",248.835,0.000,0.700,0.833,0.833,0.133,0.166,0.166,1.000,0.395
NOW,431.250,463.008,430.602,463.008,400.861,463.008,245.402,0.020,0.489,0.854,0.834,0.365,0.074,0.074,0.908,0.482
SGEN,160.450,190.070,160.450,192.621,155.632,193.706,76.276,0.000,0.130,0.717,0.717,0.587,0.177,0.197,0.895,0.899
REGN,620.210,678.338,620.210,696.623,600.478,696.623,309.421,0.000,0.205,0.803,0.803,0.597,0.089,0.123,0.892,0.792
ODFL,185.980,193.746,185.558,193.746,171.243,193.746,122.136,0.052,0.655,0.892,0.840,0.237,0.042,0.042,0.882,0.303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
HST,11.500,11.500,10.487,15.365,10.487,19.038,10.487,1.000,0.208,0.118,-0.882,-0.089,-0.088,-0.088,-0.970,-0.228
JWN,16.000,16.143,14.025,24.427,14.025,42.916,14.025,0.933,0.190,0.068,-0.864,-0.121,-0.123,-0.123,-0.988,-0.317
TPR,14.510,14.510,13.460,18.641,13.120,31.102,13.120,1.000,0.252,0.077,-0.923,-0.174,-0.071,-0.096,-0.994,-0.326
AAL,13.030,13.048,11.271,21.057,10.579,34.339,10.579,0.990,0.234,0.103,-0.887,-0.131,-0.131,-0.188,-1.018,-0.428
^GSPC,"3,351.280","3,351.280","3,351.280","3,351.280","3,351.280","3,351.280","3,351.280",nan,nan,nan,nan,nan,nan,nan,nan,nan

In [ ]:
output.sort_values(by="long_term_metric",ascending=False,inplace=True)
output

In [6]:
my_longterm

,latest,three_wk_high,three_wk_low,three_m_high,three_m_low,one_yr_high,one_yr_low,three_wk_range,three_m_range,one_yr_range,short_term_stochastic,long_term_stochastic,st_potential,lt_potential,short_term_metric,long_term_metric
AMGN,240.500,268.340,240.500,280.480,233.540,283.766,205.097,0.000,0.148,0.450,0.450,0.302,0.081,0.146,0.541,0.531
AAPL,449.860,454.899,383.807,454.899,344.967,454.899,228.425,0.929,0.954,0.978,0.049,0.024,0.011,0.011,0.061,0.041
UNH,316.570,317.861,307.946,339.215,305.758,354.932,238.993,0.870,0.323,0.669,-0.201,0.346,-0.007,0.051,-0.208,0.427
BMY,61.110,62.622,59.923,74.457,59.622,74.457,51.490,0.440,0.100,0.419,-0.021,0.319,-0.001,0.218,-0.022,0.662
NLOK,23.570,23.570,20.470,24.880,20.470,25.248,14.235,1.000,0.703,0.848,-0.152,0.145,-0.028,0.045,-0.184,0.216
OKE,29.270,30.638,27.993,48.098,26.849,77.695,20.078,0.483,0.114,0.160,-0.323,0.046,-0.031,0.052,-0.358,0.128
INTC,47.915,62.458,47.915,70.527,47.915,73.187,47.915,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
KLAC,204.010,210.758,195.719,215.983,191.685,215.983,151.437,0.551,0.507,0.814,0.263,0.307,0.025,0.059,0.292,0.400
REGN,624.190,676.850,620.240,695.095,599.161,695.095,308.743,0.070,0.261,0.816,0.747,0.556,0.079,0.114,0.836,0.734

In [7]:
my_shortterm

,latest,three_wk_high,three_wk_low,three_m_high,three_m_low,one_yr_high,one_yr_low,three_wk_range,three_m_range,one_yr_range,short_term_stochastic,long_term_stochastic,st_potential,lt_potential,short_term_metric,long_term_metric
SGEN,160.995,189.653,160.995,192.199,155.291,193.281,76.109,0.000,0.155,0.724,0.724,0.570,0.171,0.191,0.916,0.870
BMRN,119.680,134.741,119.463,137.822,105.822,137.822,73.651,0.014,0.433,0.717,0.703,0.284,0.118,0.152,0.836,0.522
MSCI,363.980,406.712,363.980,406.712,334.092,406.712,239.870,0.000,0.412,0.744,0.744,0.332,0.117,0.117,0.876,0.517
MSFT,213.385,219.782,209.317,227.367,194.860,227.367,150.333,0.389,0.570,0.818,0.430,0.249,0.024,0.066,0.457,0.352

In [ ]:
plt.close('all')
ratios["NLOK"].tail(150).plot()

In [5]:
longterm_portfolio.report()

Current Value = 21807.873
Buy Power = 0.0
------------------------------
BMY: 128 @ 58.49 61.11
NLOK: 297 @ 20.18 23.57
OKE: 183 @ 27.26 29.27
INTC: 34 @ 59.55 47.915

In [4]:
longterm_portfolio.market_current_value()

21394.886

In [ ]:
shortterm_portfolio.report()

In [ ]:
shortterm_portfolio.market_current_value()

In [ ]:
# shortterm_portfolio = pytrade.Portfolio("st_portfolio", raw)
# shortterm_portfolio.deposit(7174.44, datetime.date(2020, 6, 22))
# shortterm_portfolio.buy("PKI", 73, 7174.44, datetime.date(2020, 6, 22))
# shortterm_portfolio.deposit(787.11, datetime.date(2020, 6, 23))
# shortterm_portfolio.buy("ZBRA", 3, 787.11, datetime.date(2020, 6, 23))
# shortterm_portfolio.deposit(7535.5, datetime.date(2020, 6, 24))
# shortterm_portfolio.buy("QRVO", 70, 7535.5, datetime.date(2020, 6, 24))
# shortterm_portfolio.deposit(5505.65, datetime.date(2020, 7, 2))
# shortterm_portfolio.buy("DG", 29, 5505.65, datetime.date(2020, 7, 2))
# shortterm_portfolio.sell("PKI", 73, 7311.52, datetime.date(2020, 7, 7))
# shortterm_portfolio.buy("BLK", 13, 7161.18, datetime.date(2020, 7, 7))
# shortterm_portfolio.sell("ZBRA", 3, 793, datetime.date(2020, 7, 14))
# shortterm_portfolio.buy("DXCM", 2, 780, datetime.date(2020, 7, 14))
# shortterm_portfolio.sell("BLK", 13, 7623.66, datetime.date(2020, 7, 17))
# shortterm_portfolio.buy("MELI", 8, 7560.4, datetime.date(2020, 7, 17))
# shortterm_portfolio.deposit(4117.35, datetime.date(2020, 7, 20))
# shortterm_portfolio.buy("JD", 69, 4343.95, datetime.date(2020, 7, 20))
# shortterm_portfolio.dividend("DG", 10.44, datetime.date(2020, 7, 6), datetime.date(2020, 7, 21))
# shortterm_portfolio.sell("QRVO", 70, 8273.12, datetime.date(2020, 7, 21))
# shortterm_portfolio.deposit(270.04, datetime.date(2020, 7, 21))
# shortterm_portfolio.buy("JD", 135, 8553.6, datetime.date(2020, 7, 21))
# shortterm_portfolio.deposit(1235.4, datetime.date(2020, 7, 22))
# shortterm_portfolio.buy("JD", 20, 1235.4, datetime.date(2020, 7, 22))
# shortterm_portfolio.deposit(1161.44, datetime.date(2020, 7, 23))
# shortterm_portfolio.buy("JD", 18, 1111.14, datetime.date(2020, 7, 23))
# shortterm_portfolio.sell("DG", 29, 5591.66, datetime.date(2020, 7, 24))
# shortterm_portfolio.buy("SGEN", 33, 5566.44, datetime.date(2020, 7, 24))
# shortterm_portfolio.sell("MELI", 8, 8563.01, datetime.date(2020, 7, 27))
# shortterm_portfolio.deposit(22.47, datetime.date(2020, 7, 28))
# shortterm_portfolio.buy("BMRN", 70, 8610.7, datetime.date(2020, 7, 28))
# shortterm_portfolio.deposit(1000, datetime.date(2020, 8, 3))
# shortterm_portfolio.buy("MSCI", 2, 754.2, datetime.date(2020, 8, 3))
# shortterm_portfolio.sell("DXCM", 2, 891.96, datetime.date(2020, 8, 3))
# shortterm_portfolio.buy("MSCI", 2, 753.46, datetime.date(2020, 8, 3))
# shortterm_portfolio.sell("JD", 135, 8874.7, datetime.date(2020, 8, 5))
# shortterm_portfolio.sell("JD", 18, 1182.93, datetime.date(2020, 8, 5))
# shortterm_portfolio.sell("JD", 89, 5847.17, datetime.date(2020, 8, 5))
# shortterm_portfolio.deposit(45.31, datetime.date(2020, 8, 5))
# shortterm_portfolio.buy("MSCI", 16.58, 6030.98, datetime.date(2020, 8, 5))
# shortterm_portfolio.buy("SGEN", 9, 1466.1, datetime.date(2020, 8, 5))
# shortterm_portfolio.buy("SGEN", 54, 8796.6, datetime.date(2020, 8, 5))
# # 12.93
shortterm_portfolio.save()

In [ ]:
# longterm_portfolio = pytrade.Portfolio("lt_portfolio", raw)
# longterm_portfolio.deposit(2024.7, datetime.date(2020, 6, 22))
# longterm_portfolio.buy("INTC", 34, 2024.7, datetime.date(2020, 6, 22))
# longterm_portfolio.deposit(4988.58, datetime.date(2020, 7, 8))
# longterm_portfolio.buy("OKE", 183, 4988.58, datetime.date(2020, 7, 8))
# longterm_portfolio.deposit(5993.46, datetime.date(2020, 7, 16))
# longterm_portfolio.buy("NLOK", 297, 5993.46, datetime.date(2020, 7, 16))
# longterm_portfolio.deposit(7486.72, datetime.date(2020, 7, 27))
# longterm_portfolio.buy("BMY", 128, 7486.72, datetime.date(2020, 7, 27))
longterm_portfolio.save()

In [3]:
print(shortterm_portfolio.calc_rate_of_return())
print(shortterm_portfolio.calc_market_rate_of_return())
print(longterm_portfolio.calc_rate_of_return())
print(longterm_portfolio.calc_market_rate_of_return())

2.403
1.919
2.746
2.016

In [ ]:
s1 = pytrade.Utkarsh_v1_short_base("test")
s2 = pytrade.Utkarsh_v1_short_equal("test")
s3 = pytrade.Utkarsh_v1_short_lowerbound("test")
s4 = pytrade.Utkarsh_v1_short_equal_lowerbound("test")
m1 = pytrade.Utkarsh_v1_medium_base("test")
m2 = pytrade.Utkarsh_v1_medium_equal("test")
m3 = pytrade.Utkarsh_v1_medium_lowerbound("test")
m4 = pytrade.Utkarsh_v1_medium_equal_lowerbound("test")
l1 = pytrade.Utkarsh_v1_long_base("test")
l2 = pytrade.Utkarsh_v1_long_equal("test")
l3 = pytrade.Utkarsh_v1_long_lowerbound("test")
l4 = pytrade.Utkarsh_v1_long_equal_lowerbound("test")

In [ ]:
sim_1 = pytrade.Simulation(raw, 100000, s1, datetime.date(2018, 8, 7), datetime.date.today(), "short")
sim_2 = pytrade.Simulation(raw, 100000, s2, datetime.date(2018, 8, 7), datetime.date.today(), "short")
sim_3 = pytrade.Simulation(raw, 100000, s3, datetime.date(2018, 8, 7), datetime.date.today(), "short")
sim_4 = pytrade.Simulation(raw, 100000, s4, datetime.date(2018, 8, 7), datetime.date.today(), "short")
sim_5 = pytrade.Simulation(raw, 100000, m1, datetime.date(2018, 8, 7), datetime.date.today(), "medium")
sim_6 = pytrade.Simulation(raw, 100000, m2, datetime.date(2018, 8, 7), datetime.date.today(), "medium")
sim_7 = pytrade.Simulation(raw, 100000, m3, datetime.date(2018, 8, 7), datetime.date.today(), "medium")
sim_8 = pytrade.Simulation(raw, 100000, m4, datetime.date(2018, 8, 7), datetime.date.today(), "medium")
sim_9 = pytrade.Simulation(raw, 100000, l1, datetime.date(2018, 8, 7), datetime.date.today(), "long")
sim_10 = pytrade.Simulation(raw, 100000, l2, datetime.date(2018, 8, 7), datetime.date.today(), "long")
sim_11 = pytrade.Simulation(raw, 100000, l3, datetime.date(2018, 8, 7), datetime.date.today(), "long")
sim_12 = pytrade.Simulation(raw, 100000, l4, datetime.date(2018, 8, 7), datetime.date.today(), "long")

In [ ]:
s1_port = sim_1.run()
s2_port = sim_2.run()
s3_port = sim_3.run()
s4_port = sim_4.run()
m1_port = sim_5.run()
m2_port = sim_6.run()
m3_port = sim_7.run()
m4_port = sim_8.run()
l1_port = sim_9.run()
l2_port = sim_10.run()
l3_port = sim_11.run()
l4_port = sim_12.run()
s1_port.save()
s2_port.save()
s3_port.save()
s4_port.save()
m1_port.save()
m2_port.save()
m3_port.save()
m4_port.save()
l1_port.save()
l2_port.save()
l3_port.save()
l4_port.save()

In [ ]:
short_port.report()
long_port.report()

In [ ]:
raw.head(767)

In [ ]:
ratios = pytrade.calculate_ratio(raw["Adj Close"].head(762))
output = pytrade.analysis_1.run(ratios, datetime.date(2018, 8, 6))
output.sort_values(by="short_term_metric",ascending=False,inplace=True)

In [ ]:
output.head(10)